/* public-sans-regular - latin */
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/public-sans-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/public-sans-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* public-sans-700 - latin */
  @font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/public-sans-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/public-sans-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* dm-serif-display-regular - latin */
@font-face {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/dm-serif-display-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/dm-serif-display-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


:root{
    --color-dark-pink: #ba4270;
    --color-water-white: #fbfcfe;
    --color-san-juan-blue: #36536b;
    --color-mirage-blue: #1b262f;
    --color-charm-pink-actives: #da6d97;
    --color-light-san-juan-blue: #6c8294;

    --text-font-72: 72px;
    --text-font-height-56: 56px;
    --text-font-48: 48px;
    --text-font-40: 40px;
    --text-font-32: 32px;
    --text-font-25: 25px;
    --text-font-24: 24px;
    --text-font-18: 18px;
}


*{
    box-sizing: border-box;
}
html{
    height: 100%;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Arial",sans-serif;
    font-weight: 400;
}
main{
    flex-grow: 1;
}
.container{
    min-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}