
.pric-box__tlt--active{
    font-size: 32px;
    line-height: 36px;
}

.input-box__form{
    display: flex;
    flex-direction: column;
}


.input-box__lable{
    display: flex;
    flex-direction: column;
}


@include mobile-first(600px){
    .pric-box__tlt--active{
        font-size: 48px;
        line-height: 56px;
    } 
}

@include mobile-first(800px){
    .pric-box__tlt--active{
        font-size: 48px;
        line-height: 56px;
    } 
}


@include mobile-first(1000px){
    .pric-box__tlt--active{
        font-size: 56px;
        line-height: 56px;
    } 
}
