

.culture__left {
    background-image: url("../images/grmb.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 320px;
    height: 300px;
}

@include mobile-first(710px) {
    .culture__left {
        background-image: url("../images/group-people-lp.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-width: 710px;
        height: 300px;
    }
    
}

@include mobile-first(1000px) {

    .culture {
        padding:195px 0;
        background-image: url("../../images/headerimg.png");
        background-repeat: no-repeat;
        background-size: 760px;
        background-position:calc(50% + -670px) calc(15% + -40px);
    }

      .culture__left{
        margin: 0 auto;
        background-image: url("../images/group-people.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-width: 1000px;
        height: 500px;
    }
}

@include mobile-first(1200px) {

    .culture {
        padding:195px 0;
        background-image: url("../../images/headerimg.png");
        background-repeat: no-repeat;
        background-size: 780px;
        background-position:calc(50% + -800px) calc(15% + -40px);
    }
    
    }

.culture__list {
    margin: 0;
    padding-left: 0;
    padding: 48px 0;
    text-align: center;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 100%;
        min-width: 290px;
        height: 1px;
        background-color: #36536B;
        opacity: 0.25;
    }

    &::after {
        content: "";
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 100%;
        min-width: 290px;
        height: 1px;
        background-color: #36536B;
        opacity: 0.25;
    }
}

.culture__item {
    list-style: none;
}

.culture__text {
    margin: 0;
    padding-top: 16px;
    font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #36536B;
mix-blend-mode: normal;
opacity: 0.7;
}

.culture__date {
    margin: 0;
    font-family: "DM Serif Display";
font-weight: 400;
font-size: 56px;
line-height: 72px;
letter-spacing: -0.430769px;
color: #BA4270;

}

@include mobile-first(710px) {

    .culture__list {
        padding-left: 0;
        padding: 48px 0;
        width: 100%;
        min-width: 689px;
        display: flex;
        justify-content: center;
        align-items:flex-start;
        text-align: left;
    
        &::before {
           display: none;
        }
    
        &::after {
           display: none;
        }
    }

    .culture__item {
        margin: 0 45px;
        position: relative;

        &::before{
            content: "";
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 100%;
        min-width: 170px;
        height: 1px;
        background-color: #36536B;
        opacity: 0.25;
        }

        &::after {
            content: "";
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 100%;
        min-width: 170px;
        height: 1px;
        background-color: #36536B;
        opacity: 0.25;
        }

       
    }

}

@include mobile-first(1000px) {

    .culture__list {
        padding-left: 0;
        padding: 72px 0;
        width: 100%;
        min-width: 990px;
        display: flex;
        justify-content: space-evenly;
        align-items:flex-start;
        text-align: left;
    
        &::before {
           display: none;
        }
    
        &::after {
           display: none;
        }
    }

    .culture__item {
        margin: 0 45px;
        position: relative;

        &::before{
            content: "";
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 100%;
        min-width: 230px;
        height: 1px;
        background-color: #36536B;
        opacity: 0.25;
        }
        
        &::after {
            content: "";
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 100%;
        min-width: 230px;
        height: 1px;
        background-color: #36536B;
        opacity: 0.25;
        }

       
    }

}

@include mobile-first (1300px) {
    .culture__item {
        position: relative;

        &::before{
        min-width: 300px;
        }
        
        &::after {
        min-width: 300px;
        }

       
    }

}

.culture__people {
    margin: 0;
    padding-left: 0;
    padding-bottom: 48px;
}

.culture__people-list {
    list-style: none;
    text-align: center;
    &:not(:last-child){
        margin-bottom: 48px;
    }
}

.culture__people-title{
    margin: 0;
    padding-bottom: 16px;
    font-family: 'DM Serif Display';
font-weight: 400;
font-size: 24px;
line-height: 32px;
letter-spacing: -0.184615px;
color: #36536B;

}

.culture__people-wrap-text {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;

}

.culture__people-text {
    margin: 0;
font-weight: 400;
font-size: 15px;
line-height: 28px;
color: #6C8294;

}

@include mobile-first (710px) {

    .culture__people {
        margin: 0;
        padding-left: 0;
        padding: 18px 0 72px;
    }

    .culture__people-list {
        display: flex;
        justify-content:center;
        text-align: left;
        margin: 0 auto;
        width: 100%;
        max-width: 700px;

        &:not(:last-child){
            margin-bottom: 64px;
        }
    }


    .culture__people-title {
        width: 35%;
        font-size: 32px;
        line-height: 40px;
        margin-left: 50px;
    }

    .culture__people-wrap-text {
        width:70%;
        min-width: 456px;
    }

}

@include mobile-first (1000px) {

    .culture__people {
        margin: 0;
        padding-left: 0;
        padding: 18px 0 72px;
    }

    .culture__people-list {
        display: flex;
        justify-content:center;
        text-align: left;
        margin: 0 auto;
        width: 100%;
        max-width: 900px;

        &:not(:last-child){
            margin-bottom: 64px;
        }
    }


    .culture__people-title {
        width: 35%;
        font-size: 32px;
        line-height: 40px;
        margin-left: 70px;
    }

    .culture__people-wrap-text {
        width:70%;
        max-width: 535px;
    }

}